body {font-family: 'Courier New', monospace;margin:0;}

header {font-weight:bold;width:100%;height:30px;background:black;margin-bottom:5px;color:white;display:flex;align-items:center;justify-content:space-around;}

h3 {margin-left:10px;}

#mainContent {width:1200px;margin:0 auto;display:flex;flex-direction:row;justify-content:space-between;}

#optionsPanel {background-color:#f5f5f5;width:370px;height:630px;}
#firstChild {position:relative;height:400px;}
#secondChild {position:relative;height:120px;}
#designShit {background-color:#f5f5f5;width:370px;height:630px;}

.elementGroup {display:flex;flex-direction:row;align-items:center;margin-top:10px;}
#optionsPanel .elementGroup *:first-child {margin-left:15px;width:70px;}

.elementGroup.medium input[type="checkbox"] {width:auto;margin-left:0;}
.elementGroup.medium .labelSmall {margin-left:15px;width:auto;display:flex;align-items:center;}

.elementGroup.large .labelSmall {width:auto;}

.indicSmall, .labelSmall {font-size:11px;font-weight:bold;text-transform:uppercase;}
.indicSmall {margin-left:10px;}
.indicSmallRed {font-size:11px;font-weight:bold;text-transform:uppercase;margin-left:10px;color:red;}

.disabled {opacity:.7; pointer-events:none;}
